git_pat=GIT_PAT
customer_account_name=Asenctic
source_is_version=5.7.0
target_is_version=6.0.0
migration_client_version=1.0.227
migration_docs_is_versions_wso2_enterprise=./../../../../migration-docs/identity-server/migration-docs
version_cleaning_scripts_path=./../../../../../../migration-docs/identity-server/migration-resources/5.10.0-migration-resources/db-scripts/prepare-for-migration/.
migration_client_path=./../migration-docs/identity-server/migration-resources/migration-client-common
v=1.0.0
